<div class="meeting grid-item {{:styles}}" id="{{:id}}" data-date="{{:date}}">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light" >
			<a href="{{:imgRedirectTo}}">
				<img src="{{:imageLink}}" style="height: {{:imgHeight}}px" class="perfect-fit">
			</a>
		</div>
		<div class="card-content card-title grey-text text-darken-4" >  
			<div class="row margin-bottom-0">
				<div class="col s10">
					<p class="truncate">{{:name}}</p>
				</div>
				<div class="col s2">
					<i class="material-icons right activator pointer">more_vert</i>          
				</div>
				<div class="col s8">
					<h6 class="quick-view-date grey-text lighten-1 truncate">{{:quickViewDate}}</h6>
				</div>
				<div class="col s4">
					<span class="status new badge" data-badge-caption="">{{:status}}</span>
				</div>  
			</div>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">{{:name}}<i class="material-icons right">close</i></span>
			<p class="detailed-view-date grey-text lighten-1 truncate">Owner: {{:userOwner}}</p>
			<p class="detailed-view-date grey-text lighten-1">{{:detailedViewDate}}</p>
			<div class="fixed-action-btn">
				<a href="/action/SettingMeeting?id_food_meeting={{:id}}" class="btn-floating btn-small waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Settings">
					<i class="material-icons">settings</i>
				</a>
			</div>
		</div>
	</div>
</div>