<div class="meeting grid-item" style="width:{{:width}}px;" id="{{:id}}" data-date="{{:date}}">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<img  class="meeting-img" src="{{:imageLink}}">
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">
				{{:name}}
				<i class="material-icons right">more_vert</i>
			</span>
			<span class="{{:statusColor}}" style="bottom: 25px; right: 25px;" data-badge-caption={{:status}}></span>        
			<p class="quick-view-date grey-text lighten-1">{{:quickViewDate}}</p>
		</div>

		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">{{:name}}<i class="material-icons right">close</i></span>
			<p class="detailed-view-date grey-text lighten-1">{{:detailedViewDate}}</p>
			<div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
				<a href="/action/SettingMeeting?id_food_meeting={{:id}}" class="btn-floating btn-small waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Settings">
					<i class="material-icons">settings</i>
				</a>
			</div>
		</div>
	</div>
</div>