	<tr id="order-{{:idUser}}-{{:idPlaceItem}}" class="collection-item avatar order-entry" class="user-order">
		<td><i class="material-icons circle">perm_identity</i></td>
		<td class=""><span class="title order-details">{{:itemName}}</span></td>
	    <td>{{:details}}</td>
	    <td>{{:cost}}</td>
	    <td>{{:quantity}}</td>
	    <td>{{:userName}} {{:userLastName}}</td>
	    <td class="btn-edit secondary-content">
	        <a href="#" id="btn-remove-my-order">
	        	<i class="material-icons">remove_circle</i>
	        </a>
	    </td>
	</tr>
	                                
