.meetings-container {
    margin-top: 90px;
    margin-bottom: 200px;
}

.relative {
	bottom: 50px;
	right: 0px;
	position: relative;
}

.meeting-name-width {
	width: 93%
}

.position {
	bottom: 25px;
	right: 25px;
}

.grid-item { 
    padding: 10px;
}

.grid-item .card {     
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.grid-item .card:hover {
    box-shadow: 0 0 10px #515151;
}