.meetings-container {
    margin-top: 20px;
    margin-bottom: 200px;
}

.pointer {
	cursor: pointer;
}

.grid-item { 
    padding: 10px;
}

.grid-item .card {     
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.grid-item .card:hover {
    box-shadow: 0 0 10px #515151;
}

.new-meeting-img {
	margin-top: 5px;
}

img.perfect-fit {
	object-fit: cover;
}

.margin-bottom-0 {	
	margin-bottom: 0 !important;
}