
.left-nav-bar-prapper {
    padding: 12px 0px 65px 0px;
    position: relative;
    background-color: rgb(241, 241, 241);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.search-box-container {
    height: 48px;
    border: none;
    margin: 0px 25px 0px 25px;
}

#custom-card {
    margin: 0px;
    height: auto;
    box-shadow: none;
}

#collid:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#collid > .collection-item {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    cursor: pointer;
}

#places span.title {
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 0;
}
#places > ul > li p.description {
    color: #4d4d4d;
    font-family: inherit;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}
#places > ul > li p.description::first-letter {
    text-transform: uppercase;
}
#places > ul > li p.description > span.phone {
    color: rgba(0,0,0,0.87);
    margin-right: 4px;
} 
.form-place-container {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    padding: 10px;
    margin-bottom: 10px;    
}
#float-rigth.btn-floating {
    float: right;
}
.form-place-container:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#place-form-sumit-button {
    position: absolute;
    margin: 0;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}
button#add-new-place {
    position: fixed;
    top: 60%;
    left: 0.1%;
}
#place-form input {
    color: #4d4d4d;
    font-family: inherit;
    font-size: 16px;
}
#tag-chip > div.chip {
    display: inline-block;
    height: 25px;
    color: #4d4d4d;
    font-family: inherit;
    font-size: 13px;
    font-weight: 200;
    line-height: 22px;
    border-radius: 11px;
    padding: 0 10px;
}
#tag-chip > div.chip > i {
    cursor: pointer;
    float: right;
    font-size: 13px;
    line-height: 24px;
    border-radius: 10px
}
