.user-collection-item {
	/*min-height: 0px; !important;*/
}

.noUi-mybase {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}

.noUi-base{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}